
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 96%;
    --foreground: 224 71.4% 4.1%;
    --card: 240 5% 96%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 240 5% 96%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 217 33% 17%;
    --primary-foreground: 210 20% 98%;
    --secondary: 217 33% 25%;
    --secondary-foreground: 210 20% 98%;
    --muted: 217 33% 30%;
    --muted-foreground: 217 10% 65%;
    --accent: 38 92% 50%;
    --accent-foreground: 217 33% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 217 33% 35%;
    --input: 217 33% 35%;
    --ring: 38 92% 50%;
    --chart-1: 217 33% 17%;
    --chart-2: 38 92% 50%;
    --chart-3: 217 33% 30%;
    --chart-4: 224 71.4% 4.1%;
    --chart-5: 240 5% 96%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 32% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 32% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 32% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 32% 17%;
    --input: 217 32% 17%;
    --ring: 217 32% 27%;
    --chart-1: 210 40% 98%;
    --chart-2: 217 32% 17%;
    --chart-3: 215 20% 65%;
    --chart-4: 222 47% 11%;
    --chart-5: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
